.popup__btn {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  min-height: 50px;
  background-color: #000;
  border-radius: 2px;
  width: 100%;
  border: none;
}

.popup__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__btn {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
