.profile__edit-btn{
  width: 25px;
  height: 25px;
  background-image: url(../../../images/edit-btn.svg);
  align-self: center;
  border: 1px solid #FFFFFF;
  margin-top: 4px;
}

@media screen and (max-width: 360px) {
  .profile__edit-btn{
    margin-top: 0px;
    width: 18px;
    height: 18px;
    background-size: 8px;
  }
}