.profile__edit-btn{
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-btn.svg);
  align-self: center;
}

@media screen and (max-width: 360px) {
  .profile__edit-btn{
    width: 18px;
    height: 18px;
  }
}