.popup__btn-close {
  background-image: url(../../../images/close-btn.svg);
  position: absolute;
  top: -48px;
  right: -48px;
  width: 56px;
  height: 56px;
  border: none;
  background-size: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .popup__btn-close {
    top: -50px;
    right: -10px;
  }
}

@media screen and (max-width: 410px) {
  .popup__btn-close {
    right: 3px;
    width: 34px;
    height: 34px;
  }
}
