.button {
  padding: 0;
  border: 1px solid #FFFFFF;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer
}

.button:hover {
  opacity: 0.6;
}